.shopping-cart {
  display: flex;
  background: #fff;
  border: 1px solid #7a6c6c;
  border-radius: 10px;
  width: 145px;
  height: 47px;
  align-items: center;
  padding-left: 9px;
  text-decoration: none;
  color: #000;
  &:hover {
    background-color: #e7e4e4;
  }
  h2 {
    margin: 0;
  }
  img {
    width: auto;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
  p {
    background: #e7e0e0;
    border: 1px solid #aba6a6;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    span {
      display: block;
      width: 100%;
    }
  }
}
